.container {
    padding: var(--spacing-primary);
}
.header {
    display: flex;
    align-items: center;
    gap: var(--spacing-secondary);
}
.back-button {
    display: flex;
    align-items: center;
    gap: var(--spacing-quaternary);
    color: var(--text-secondary);
    font-weight: 800;
    font-size: 12px;
    padding: var(--spacing-quaternary);
    margin-left: calc(-1 * var(--spacing-quaternary));
    border-radius: var(--border-radius-tertiary);
    transition: background-color .2s;
    cursor: pointer;

    svg {
        width: 12px;
        fill: var(--text-secondary);
    }

    &:hover {
        background: var(--background-tertiary);
    }
    &:active {
        background-color: var(--background-quaternary);
    }
}
.label {
    padding: var(--spacing-quaternary);
    gap: var(--spacing-quaternary);
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);
    display: flex;
    align-items: center;
    font-size: 12px;
}
.label-dot {
    width: 12px;
    height: 12px;
    background: var(--background-quaternary);
    border-radius: 50%;
}
.row {
    display: grid;
    padding-bottom: var(--spacing-secondary);
    border-bottom: 1px solid var(--background-tertiary);
    font-size: 12px;
    color: var(--text-secondary);
    grid-template-columns: repeat(5, .92fr) .4fr;
}
.empty {
    font-size: 12px;
    color: var(--text-secondary);
}
.placeholder {
    height: 40px;
    margin-bottom: var(--spacing-quaternary);
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);

    &:nth-of-type(1) {
        opacity: .5;
        margin-top: var(--spacing-primary);
    }
    &:nth-of-type(2) {
        opacity: .4;
    }
    &:nth-of-type(3) {
        opacity: .3;
    }
    &:nth-of-type(4) {
        opacity: .2;
    }
}