.header {
    padding: var(--spacing-primary);
    border-bottom: 1px solid var(--background-tertiary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content {
    display: flex;
    gap: var(--spacing-primary);

    &:first-of-type {
        flex: 1;
    }
}
.input {
    padding: 0 !important;
    max-width: 400px;
    flex: 1;

    input {
        padding: 0 var(--spacing-tertiary) !important;
        height: 100%;
    }
    svg {
        margin: 0;
        margin-left: var(--spacing-tertiary);
    }
}
.tab {
    border-radius: var(--border-radius-tertiary);
    transition: background-color .2s;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 20px;
        fill: var(--text-secondary);
        display: block;
    }

    &:hover {
        background-color: var(--background-tertiary);
    }
}

.placeholder {
    @extend .header;
    height: var(--team-header-height);
}
.placeholder-main {
    flex: 1;
    display: flex;
    gap: var(--spacing-primary);
}
.placeholder-selector {
    border: 1px solid var(--background-tertiary);
    border-radius: var(--border-radius-secondary);
    height: 37px;
    width: 180px;
}
.placeholder-input {
    @extend .input;
    height: 37px;
    border: 1px solid var(--background-tertiary);
    border-radius: var(--border-radius-secondary);
}
.placeholder-tab {
    @extend .tab;
    background-color: var(--background-tertiary);
    opacity: .5;
    border-radius: 50%;
}