.header {
    padding: var(--spacing-primary);
    border-bottom: 1px solid var(--background-tertiary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content {
    display: flex;
    gap: var(--spacing-primary);

    &:first-of-type {
        flex: 1;
    }
}
.input {
    padding: 0 !important;

    input {
        padding: var(--spacing-tertiary) !important;
        height: 100%;
    }
    svg {
        margin: 0;
        margin-left: var(--spacing-tertiary);
    }
}
.search-container {
    position: relative;
    height: 100%;
    max-width: 500px;
    flex: 1;
}
.search-results {
    --space: var(--spacing-tertiary);
    position: absolute;
    z-index: 5;
    top: calc(100% + var(--space));
    width: 100%;
    max-height: 400px;
    overflow: auto;
    padding: var(--spacing-secondary);
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-secondary);

    &::-webkit-scrollbar {
        width: 25px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--background-quaternary);
        border: 8px solid var(--background-tertiary);
        border-radius: 120px;
    }
}
.search-group:not(:first-child) {
    padding-top: var(--spacing-tertiary);
    margin-top: var(--spacing-tertiary);
    border-top: 1px solid var(--background-quaternary);
}
.search-group-header {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-quaternary);

    button {
        font-size: 11px;
        color: var(--text-secondary);
        transition: color .2s;

        &:hover {
            color: var(--text-primary);
        }
    }
}
.header-main {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-tertiary);
}
.search-count {
    color: var(--text-secondary);
    font-size: 11px;
}
.avatar {
    --size: 22px;
    font-size: 10px;
    border-color: var(--background-quinary);
}
.search-list {
    --item-padding: calc(var(--spacing-tertiary) / 2);
    margin-left: calc(-1 * var(--item-padding));
}
.search-item {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--item-padding);
    border-radius: var(--border-radius-tertiary);
    transition: background-color .2s;
    cursor: pointer;

    &:hover {
        background-color: var(--background-quaternary);
    }
}
.item-main {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
}
.item-right {
    font-size: 10px;
    color: var(--text-secondary);
}
.empty {
    font-size: 13px;
    color: var(--text-secondary);
}
.tab {
    border-radius: var(--border-radius-tertiary);
    transition: background-color .2s;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 20px;
        fill: var(--text-secondary);
        display: block;
    }

    &:hover {
        background-color: var(--background-tertiary);
    }
}

.placeholder {
    @extend .header;
    height: var(--team-header-height);
}
.placeholder-main {
    flex: 1;
    display: flex;
    gap: var(--spacing-primary);
}
.placeholder-selector {
    border: 1px solid var(--background-tertiary);
    border-radius: var(--border-radius-secondary);
    height: 37px;
    width: 180px;
}
.placeholder-input {
    @extend .input;
    height: 37px;
    border: 1px solid var(--background-tertiary);
    border-radius: var(--border-radius-secondary);
}
.placeholder-tab {
    @extend .tab;
    background-color: var(--background-tertiary);
    opacity: .5;
    border-radius: 50%;
}