.container {
    padding-bottom: var(--spacing-quaternary);
}
.header {
    display: flex;
    gap: var(--spacing-tertiary);
    padding-bottom: var(--spacing-secondary);
}
.input {
    flex: 1;
}
.dropdown>button {
    --item-padding: var(--spacing-secondary);
}
.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--spacing-secondary);
}
.success {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
    padding: var(--spacing-secondary);
    border: 1px solid var(--color-accent);
    background-color: var(--color-muted);
    border-radius: var(--border-radius-tertiary);
    font-size: 14px;
    
    span {
        margin-bottom: -1.5px;
    }
    svg {
        width: 15px;
        fill: var(--text-primary);
        display: block;
    }
}
.error {
    @extend .success;
    background-color: var(--color-danger-muted);
    border-color: var(--color-danger-accent);
}