.container {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    flex-wrap: wrap;
}
.item {
    padding: 5px 8px;
    font-size: 12px;
    background-color: var(--background-tertiary);
    border: 1px solid var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);
    position: relative;
}
.small .item {
    display: block;
    padding: 0;
    width: 30px;
    height: 7px;
    font-size: 10px;
    background-color: var(--background-quinary);
    border-color: var(--background-quinary);

    span {
        display: none;
    }
}