.container {
    padding: var(--spacing-primary);
}
.header {
    display: flex;
    gap: var(--spacing-secondary);
}
.button {
    background-color: var(--background-tertiary) !important;
    border-color: var(--background-quaternary) !important;

    &:hover {
        background-color: var(--background-quaternary) !important;
    }
}
.input-container {
    flex: 1;

    svg {
        height: 100%;
        margin-left: var(--spacing-secondary) !important;
    }
}
.input{
    padding-left: var(--spacing-secondary) !important;
}
.list-container {
    --columns: 3;
}
.list-header {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    font-size: 14px;
    padding: var(--spacing-primary) 0;
    margin-bottom: var(--spacing-primary);
    border-bottom: 1px solid var(--background-tertiary);
}
.list {
    gap: var(--spacing-quaternary);
    margin-top: calc(-1 * var(--spacing-quaternary));
    display: grid;
}
.list-item {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    align-items: center;
}
.list-item-main {
    padding: var(--spacing-quaternary);
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
    margin-left: calc(-1 * var(--spacing-quaternary));
}
.list-item-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--background-tertiary);
}
.item-task-count {
    font-size: 12px;
}
.item-buttons {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-quaternary);

    button {
        width: 32px;
        height: 32px;
        padding: 0 !important;

        svg {
            margin: 0;
        }
    }
}
.empty {
    color: var(--text-secondary);
    font-size: 12px;
    display: block;
}