.container {
    flex-wrap: wrap;
    display: flex;
    gap: 4px;
}
.item {
    padding: 5px;
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);
    display: flex;
    align-items: center;
    gap: var(--spacing-quaternary);
}
.item-avatar {
    --size: 16px;
    font-size: 9px;
    background-color: var(--background-quinary);
}