.container {
    display: flex;
    gap: 4px;
}
.item {
    padding: 5px;
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);
    display: flex;
    align-items: center;
    gap: var(--spacing-quaternary);
}
.item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--background-quinary);
}