.container {
    --columns: repeat(5, 1fr) .2fr;
    padding: var(--spacing-primary);
}
.header {
    display: flex;
    gap: var(--spacing-secondary);
}
.input {
    flex: 1;
    
    svg {
        margin: var(--spacing-secondary) !important;
    }
}
.header-button {
    background-color: var(--background-tertiary) !important;
    border-color: var(--background-quaternary) !important;

    &:hover {
        background-color: var(--background-quaternary) !important;
    }
}
.list-header {
    display: grid;
    grid-template-columns: var(--columns);
    padding-bottom: var(--spacing-tertiary);
    border-bottom: 1px solid var(--background-tertiary);
    color: var(--text-secondary);
    font-size: 14px;
    padding: var(--spacing-primary) 0;
}
.item {
    display: grid;
    align-items: center;
    grid-template-columns: var(--columns);
    border-bottom: 1px solid var(--background-tertiary);
    padding: var(--spacing-tertiary) 0;
    font-size: 14px;
}
.flex {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
}
.icon {
    width: 32px;
    height: 32px;
    border: 2px solid var(--background-tertiary);
    background-color: var(--background-quaternary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
}
.status {
    padding: var(--spacing-quaternary) var(--spacing-tertiary);
    background-color: var(--color-attention-muted);
    border: 1px solid var(--color-attention-accent);
    border-radius: var(--border-radius-tertiary);
    font-size: 10px;
    display: block;
    cursor: default;

    &.accepted {
        background-color: var(--color-success-muted);
        border-color: var(--color-success-accent);
    }
    &.rejected, &.expired {
        background: var(--color-danger-muted);
        border-color: var(--color-danger-accent);
    }
}
.buttons {
    display: flex;
    justify-content: flex-end;
    
    button {
        justify-content: center;
        padding: 0 !important;
        width: 28px;
        height: 28px;

        svg {
            margin: 0;
            width: 10px;
        }
    }
}
.item-placeholder {
    height: 53px;
    border-radius: var(--border-radius-tertiary);
    background-color: var(--background-tertiary);
    margin: var(--spacing-quaternary) 0;

    &:first-of-type {
        opacity: .5;
    }
    &:nth-of-type(2) {
        opacity: .4;
    }
    &:nth-of-type(3) {
        opacity: .3;
    }
    &:nth-of-type(4) {
        opacity: .2;
    }
}
.empty {
    color: var(--text-secondary);
    font-size: 12px;
    display: block;
    margin-top: var(--spacing-tertiary);
}