.container {
    padding: var(--spacing-primary);

    h1 {
        font-size: 22px;
        margin: 0;
    }
}
.header {
    display: grid;
    gap: var(--spacing-tertiary);
}
.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.item-header {
    font-size: 12px;
    color: var(--text-secondary);
    margin-bottom: var(--spacing-quaternary);
    display: block;
    font-weight: 700;
}
.item-container {
    display: flex;
    gap: var(--spacing-quaternary);
}