:root {
  --background-primary: #0F1015;
  --background-secondary: #191A1F;
  --background-tertiary: #282A30;
  --background-quaternary: #363840;
  --background-quinary: #484B55;
  --text-primary: #e2e4e9;
  --text-secondary: #7e828b;

  --spacing-primary: 20px;
  --spacing-secondary: 15px;
  --spacing-tertiary: 10px;
  --spacing-quaternary: 7px;

  --border-radius-primary: 20px;
  --border-radius-secondary: 8px;
  --border-radius-tertiary: 6px;

  --sidebar-width: 245px;
  --navbar-height: 66.4px;
  --team-header-height: 78px;
  --group-selector-height: 76px;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-primary);
  background-color: var(--background-primary);
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  background-color: inherit;
  padding: inherit;
  color: inherit;
  border: none;
  padding: 0;
  text-align: unset;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input, textarea {
  font-family: inherit;
}