.container {
    --block-width: 300px;
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-secondary);
    padding: var(--spacing-primary);
    height: calc(100vh - var(--navbar-height) - var(--team-header-height) - var(--group-selector-height));
    width: calc(100vw - var(--sidebar-width) - var(--portal-width));
    overflow: auto;

    &::-webkit-scrollbar {
        height: 25px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--background-tertiary);
        border: 7px solid var(--background-secondary);
        border-radius: 120px;

        &:hover {
            background-color: var(--background-quaternary);
        }
    }
}
.create-block-button {
    font-size: 12px;
    padding: var(--spacing-secondary) !important;
    min-width: var(--block-width);
    width: var(--block-width);

    svg {
        width: 10px;
        height: 10px;
    }
}
.block {
    --border-radius: var(--border-radius-secondary);
    border-radius: var(--border-radius);
    background-color: var(--background-tertiary);
    width: var(--block-width);
    min-width: var(--block-width);
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.block-header {
    padding: var(--spacing-secondary);
    background-color: var(--background-quaternary);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    cursor: move;
}
.block-header-main {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
}
.block-title {
    font-size: 14px;
}
.task-count {
    color: var(--text-secondary);
    font-size: 12px;
    margin-top: 1px;
}
.block-tasks {
    display: grid;
    gap: var(--spacing-tertiary);
    padding: var(--spacing-secondary);
    padding-bottom: 0;
    max-height: 100%;
    overflow: auto;
    user-select: none;

    &.block-empty {
        padding: 0;
    }

    &::-webkit-scrollbar {
        width: 14px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--background-quaternary);
        border: 4px solid var(--background-tertiary);
        border-radius: 120px;
    }
}
.task-main {
    padding: var(--spacing-tertiary);
    background-color: var(--background-quaternary);
    border-radius: var(--border-radius-tertiary);
    border: 1px solid var(--background-quinary);
    display: grid;
    gap: var(--spacing-tertiary);
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 3;

    button:not(.task-main>button) {
        z-index: 2;
        position: relative;
    }
}
.edit-task-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.task-title {
    font-size: 14px;
}
.task-assignees {
    display: flex;
    z-index: 2;

    .assign-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid var(--background-quinary);
        padding: 5px;
        
        svg {
            width: 8px;
            fill: var(--text-secondary);
        }
    }

    .assignee {
        border-radius: 50%;
        background-color: var(--background-quaternary);
        border: 1px solid var(--background-quinary);
        margin-left: calc(-1 * var(--spacing-primary) / 2);
        transition: margin .2s;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9px;
        font-weight: 600;
        cursor: pointer;
    
        svg {
            width: 8px;
            fill: var(--text-secondary);
            display: block;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &:hover {
        .assignee {
            margin-left: calc(-1 * var(--spacing-quaternary) / 1.5);
        }
    }
}
.task-content {
    font-size: 12px;
    color: var(--text-secondary);
}
.task-footer {
    display: flex;
    font-size: 12px;
    align-items: flex-end;
    justify-content: space-between;
    color: var(--text-secondary);
}
.due-at {
    display: flex;
    align-items: center;
    gap: var(--spacing-quaternary);
    font-size: 12px;

    svg {
        width: 12px;
        fill: var(--text-secondary);
    }
}
.block-footer {
    padding: var(--spacing-secondary);
    width: 100%;
}
.add-task-button {
    border-color: var(--background-quaternary) !important;
    font-size: 12px;
    width: 100%;

    &:hover {
        background-color: var(--background-quaternary) !important;
    }
}

.task-placeholder {
    border: 3px dashed var(--background-quaternary);
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);
    pointer-events: none;
}