.container {
    display: flex;
    gap: var(--spacing-secondary);
    padding: var(--spacing-primary);
}
.block {
    --border-radius: var(--border-radius-secondary);
    border-radius: var(--border-radius);
    background-color: var(--background-tertiary);
    width: 300px;
    height: 100%;
}
.block-header {
    padding: var(--spacing-secondary);
    background-color: var(--background-quaternary);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.block-header-main {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
}
.block-title {
    font-size: 14px;
}
.task-count {
    color: var(--text-secondary);
    font-size: 12px;
    margin-top: 1px;
}
.block-content {
    padding: var(--spacing-secondary);
    display: grid;
    gap: var(--spacing-tertiary);
}
.block-tasks {
    display: grid;
    gap: var(--spacing-tertiary);
}
.block-task {
    padding: var(--spacing-tertiary);
    background-color: var(--background-quaternary);
    border-radius: var(--border-radius-tertiary);
    border: 1px solid var(--background-quinary);
    display: grid;
    gap: var(--spacing-tertiary);
}
.task-header {
    display: flex;
    align-items: center;
}
.task-title {
    font-size: 14px;
}
.task-assignees {
    border-radius: 50%;
    background-color: var(--background-quinary);
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-right: var(--spacing-tertiary);
}
.task-content {
    font-size: 12px;
    color: var(--text-secondary);
}
.add-task-button {
    border-color: var(--background-quaternary) !important;
    font-size: 12px;

    &:hover {
        background-color: var(--background-quaternary) !important;
    }
}