.container {
    padding: var(--spacing-primary);
}
.header {
    display: grid;
    gap: var(--spacing-tertiary);

    h1 {
        font-size: 22px;
        margin: 0;
    }
}
.labels {
    display: flex;
    gap: var(--spacing-quaternary);
}
.add-label-button {
    width: 26.5px;
    height: 26.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-quaternary);
    border: 2px solid var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);

    svg {
        width: 12px;
        fill: var(--text-secondary);
    }
}
.members {
    margin-top: calc(-1 * var(--spacing-quaternary));
}
.member {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
    padding: var(--spacing-quaternary);
    margin-left: calc(-1 * var(--spacing-tertiary));
    border-radius: var(--border-radius-tertiary);
    transition: background-color .2s;
    cursor: pointer;

    &:hover {
        background-color: var(--background-tertiary);
    }
}
.member-icon {
    width: 30px;
    height: 30px;
    background-color: var(--background-quaternary);
    border: 2px solid var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.member-name {
    font-size: 14px;
}