.container {
    padding: var(--spacing-primary);
}
.header {
    display: grid;
    gap: var(--spacing-tertiary);
}
.members {
    --padding: 4px;
    margin-top: calc(-1 * var(--padding));
}
.member {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
    padding: var(--padding);
    margin-left: calc(-1 * var(--padding));
    border-radius: var(--border-radius-tertiary);
    transition: background-color .2s;
    cursor: pointer;

    &:hover {
        background-color: var(--background-tertiary);
    }
}
.member-icon {
    width: 30px;
    height: 30px;
    background-color: var(--background-quaternary);
    border: 2px solid var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.member-name {
    font-size: 14px;
}