.input {
    background-color: var(--background-quaternary) !important;
    border-radius: var(--border-radius-tertiary) var(--border-radius-tertiary) 0 0;
}
.member-items {
    padding: var(--spacing-tertiary);
}
.member-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
    padding: var(--spacing-tertiary);
    border-radius: var(--border-radius-tertiary);
    transition: background-color .2s;
    cursor: pointer;
    width: 100%;

    &:hover {
        background-color: var(--background-quaternary);
    }
}
.member-icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-quinary);
    border: 2px solid var(--background-quaternary);
    border-radius: 50%;
    font-size: 12px;
}
.empty {
    padding: var(--spacing-tertiary);
    color: var(--text-secondary);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    display: block;
}