.user-header {
    display: flex;
    gap: var(--spacing-tertiary);
    padding: var(--spacing-secondary);
    border-bottom: 1px solid var(--background-tertiary);
}
.user-avatar {
    border: 2px solid var(--background-tertiary);
}
.user-text {
    display: grid;
    gap: 4px;
}
.name {
    font-size: 20px;
}
.bio {
    color: var(--text-secondary);
    font-size: 14px;
}
.tabs {
    @extend .user-header;
    padding-bottom: 0;
    display: flex;
    gap: var(--spacing-primary);
    
    button {
        display: block;
        padding-bottom: var(--spacing-secondary);
        transition: background-color .2s, color .2s;
        color: var(--text-secondary);
        font-size: 12px;

        &:hover, &.active {
            border-bottom: 1px solid #fff;
            color: var(--text-primary);
        }
    }
}

.filters {
    padding: var(--spacing-secondary);
    display: flex;
    justify-content: space-between;
}
.filters-main {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
    font-size: 14px;

    svg {
        width: 12px;
        fill: var(--text-primary);
    }
}
.empty-filter {
    display: block;
    font-size: 12px;
    color: var(--text-secondary);
    padding: var(--spacing-quaternary);
    border: 1px solid var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);
}
.label {
    @extend .empty-filter;
    display: flex;
    padding: 0;

    button {
        padding: var(--spacing-quaternary);
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: var(--spacing-quaternary);
    }
    svg {
        width: 8px;
        fill: var(--text-secondary);
        display: block;
    }
}
.label-dot {
    width: 8px;
    height: 8px;
    background-color: var(--background-tertiary);
    border-radius: 50%;
}

.tasks {
    display: grid;
    padding: 0 var(--spacing-secondary);
    gap: var(--spacing-quaternary);
    max-height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 20px;
    }
    &::-webkit-scrollbar-thumb {
        border: 7px solid var(--background-secondary);
        background-color: var(--background-tertiary);
        border-radius: 120px;
    }
}
.task {
    background-color: transparent !important;
    border-color: var(--background-tertiary) !important;
    transition: background-color .2s;

    &:hover {
        background-color: var(--background-tertiary) !important;
    }
}
.empty {
    text-align: center;
    color: var(--text-secondary);
    font-size: 12px;
}