.user-header {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
    padding: var(--spacing-secondary);
    border-bottom: 1px solid var(--background-tertiary);
}
.user-icon {
    width: 50px;
    height: 50px;
    border-radius: var(--border-radius-tertiary);
    border: 2px solid var(--background-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-text {
    display: grid;
    gap: var(--spacing-quaternary);
}
.name {
    font-size: 20px;
}
.bio {
    color: var(--text-secondary);
    font-size: 14px;
}
.tabs {
    @extend .user-header;
    padding-bottom: 0;
    display: flex;
    gap: var(--spacing-primary);
    
    button {
        display: block;
        padding-bottom: var(--spacing-secondary);
        transition: background-color .2s, color .2s;
        color: var(--text-secondary);
        font-size: 12px;

        &:hover, &.active {
            border-bottom: 1px solid #fff;
            color: var(--text-primary);
        }
    }
}

.tasks {
    display: grid;
    padding: var(--spacing-secondary);
    gap: var(--spacing-quaternary);
    max-height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 20px;
    }
    &::-webkit-scrollbar-thumb {
        border: 7px solid var(--background-secondary);
        background-color: var(--background-tertiary);
        border-radius: 120px;
    }
}
.task {
    background-color: transparent !important;
    border-color: var(--background-tertiary) !important;
    transition: background-color .2s;

    &:hover {
        background-color: var(--background-tertiary) !important;
    }
}
.empty {
    text-align: center;
    color: var(--text-secondary);
    font-size: 12px;
}