.container {
    padding: var(--spacing-primary);
}
.header {
    display: flex;
    gap: var(--spacing-secondary);
}
.add-button {
    background-color: var(--background-tertiary) !important;
    border: 1px solid var(--background-quaternary) !important;

    &:hover {
        background-color: var(--background-quaternary) !important;
    }
}
.input-container {
    flex: 1;

    svg {
        height: 100%;
        margin-left: var(--spacing-secondary) !important;
    }
}
.input{
    padding-left: var(--spacing-secondary) !important;
}
.list {
    display: grid;
    gap: var(--spacing-tertiary);
}
.list-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: var(--spacing-primary) 0;
    margin-bottom: var(--spacing-primary);
    border-bottom: 1px solid var(--background-tertiary);
    font-size: 14px;
    color: var(--text-secondary);
}
.list-item {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    font-size: 14px;
}
.list-item-main {
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
}
.item-avatar {
    --size: 25px;
    height: 25px;
    font-size: 11px;
    border-color: var(--background-quaternary);
}
.empty {
    color: var(--text-secondary);
    font-size: 12px;
    display: block;
}