.container {
    --width: 400px;
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-secondary);
    width: var(--width);
    right: calc(-1 * var(--width));
    position: fixed;
    top: calc(var(--navbar-height) + var(--team-header-height));
    height: calc(100vh - var(--navbar-height) - var(--team-header-height) - var(--spacing-primary));
}
.header {
    border-bottom: 1px solid var(--background-quaternary);
    padding: var(--spacing-secondary);
}
.header-main {
    display: flex;
    justify-content: space-between;

    svg {
        --size: 25px;
        --padding: 8px;
        width: var(--size);
        height: var(--size);
        fill: var(--text-secondary);
        padding: var(--padding);
        cursor: pointer;
        border-radius: var(--border-radius-tertiary);
        margin: calc(-1 * var(--size) / 2 + var(--padding));
        transform: translateY(2px);
        transition: fill .2s, background-color .2s;

        &:hover {
            fill: var(--text-primary);
            background-color: var(--background-quaternary);
        }
    }
}
.header-sub {
    margin-top: var(--spacing-tertiary);
    color: var(--text-secondary);
    font-size: 14px;
    display: block;
}