.portal-container {
    // This is updated from the portal provider component
    --portal-width: 0px;
    --portal-spacing: var(--spacing-tertiary);
    display: flex;
    gap: var(--spacing-tertiary);
    width: 100%;

    &>:first-child {
        flex: 1;
    }
    &.has-portal>main:first-child {
        border-top-right-radius: var(--border-radius-secondary);
    }
}
.portal {
    background-color: var(--background-secondary);
    border-radius: var(--border-radius-secondary);
    width: calc(var(--portal-width) - var(--portal-spacing));
    display: flex;
    flex-direction: column;
}
.header {
    border-bottom: 1px solid var(--background-tertiary);
    padding: var(--spacing-secondary);
}
.header-main {
    display: flex;
    justify-content: space-between;

    svg {
        --size: 25px;
        --padding: 8px;
        width: var(--size);
        height: var(--size);
        fill: var(--text-secondary);
        padding: var(--padding);
        cursor: pointer;
        border-radius: var(--border-radius-tertiary);
        margin: calc(-1 * var(--size) / 2 + var(--padding));
        transform: translateY(2px);
        transition: fill .2s, background-color .2s;

        &:hover {
            fill: var(--text-primary);
            background-color: var(--background-tertiary);
        }
    }
}
.header-sub {
    margin-top: var(--spacing-tertiary);
    color: var(--text-secondary);
    font-size: 14px;
    display: block;
}