.container {
    padding: var(--spacing-primary);
}
.tabs {
    display: flex;
    gap: var(--spacing-primary);
    border-bottom: 1px solid var(--background-tertiary);
}
.tab {
    color: var(--text-secondary);
    border-bottom: 1px solid transparent;
    padding-bottom: var(--spacing-primary);
    transition: color .2s, border-bottom .2s;

    &:hover, &.active {
        color: var(--text-primary);
        border-bottom-color: var(--text-primary);
    }
}

.content {
    display: flex;
    gap: var(--spacing-secondary);
    padding: var(--spacing-primary) 0;

    &>div {
        flex: 1;
    }
}
.profile {
    display: grid;
    gap: var(--spacing-primary);
    padding: var(--spacing-primary);
    background-color: var(--background-primary);
    border-radius: var(--border-radius-secondary);
}
.group-header {
    display: flex;
    position: relative;
    margin-bottom: var(--spacing-tertiary);

    span {
        font-size: 12px;
        background-color: var(--background-primary);
        padding-right: var(--spacing-secondary);
        z-index: 2;
    }
    &::after {
        content: '';
        background-color: var(--background-secondary);
        height: 1px;
        width: 100%;
        left: 0;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        z-index: 1;
    }
}
.avatar-container {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-tertiary);
}
.avatar {
    width: 80px;
    height: 80px;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--border-radius-secondary);
    border: 2px solid var(--background-secondary);
    position: relative;
    background-size: cover;
    background-position: center;
    
    input {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        opacity: 0;

        &::-webkit-file-upload-button {
            cursor: pointer;
        }
    }
}
.avatar-buttons {
    display: flex;
    gap: var(--spacing-tertiary);
}
.avatar-button {
    font-size: 12px;
    padding: var(--spacing-tertiary);

    &:hover {
        color: var(--text-primary) !important;
    }
}
.remove-avatar-button {
    @extend .avatar-button;

    background-color: var(--color-danger-muted) !important;
    border: 1px solid var(--color-danger-accent) !important;
}
.inputs {
    display: grid;
    gap: var(--spacing-tertiary);
}
.profile-buttons {
    display: flex;
    justify-content: flex-end;
}
.preview {
    height: 100%;
    padding: var(--spacing-primary);
    background-color: var(--background-primary);
    border-radius: var(--border-radius-secondary);
}
.preview-content {
    border-radius: var(--border-radius-secondary);
    overflow: hidden;
}
.preview-banner {
    height: 50px;
    background-color: var(--background-tertiary);
}
.preview-main {
    display: grid;
    gap: var(--spacing-tertiary);
    padding: var(--spacing-primary);
    background-color: var(--background-secondary);
}
.preview-avatar {
    --avatar-size: 60px;
    --border-size: 5px;
    width: var(--avatar-size);
    height: var(--avatar-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-secondary);
    border: var(--border-size) solid var(--background-secondary);
    margin-top: calc(-1 * var(--avatar-size) + var(--spacing-tertiary) - var(--border-size));
    margin-left: calc(-1 * var(--border-size));
    background-color: var(--background-primary);
    background-size: cover;
    background-position: center;
}
.preview-text {
    display: grid;
    gap: var(--spacing-quaternary);
}
.preview-name {
    font-size: 18px;
}
.preview-bio {
    color: var(--text-secondary);
    font-size: 12px;
}