.container {
    width: var(--sidebar-width);
    border-right: 1px solid var(--background-tertiary);
    padding: var(--spacing-secondary);
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.group:not(:last-child) {
    padding-bottom: var(--spacing-tertiary);
    margin-bottom: var(--spacing-tertiary);
    border-bottom: 1px solid var(--background-tertiary);
}
.group-header {
    font-size: 12px;
    color: var(--text-secondary);
    margin-bottom: var(--spacing-tertiary);
    display: block;
    font-weight: 700;
}
.item {
    display: block;
    padding: var(--spacing-tertiary);
    border-radius: var(--border-radius-tertiary);
    transition: background-color .2s;
    font-size: 14px;

    &:hover, &.active {
        background-color: var(--background-tertiary);
    }
    &:active {
        background-color: var(--background-quaternary);
    }
}