.content {
    display: grid;
    gap: var(--spacing-tertiary);
}
.group {
    display: grid;
}
.group-header {
    margin-bottom: var(--spacing-tertiary);
    font-size: 12px;
}
.add-item {
    width: 26px;
    height: 26px;
    background-color: var(--background-tertiary);
    border: 2px solid var(--background-secondary);
    border-radius: var(--border-radius-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 10px;
        fill: var(--text-secondary);
    }
}
.assignee-list {
    display: flex;
    gap: var(--spacing-tertiary);
}
.member-item {
    font-size: 11px;
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);
    padding: 4px 7px 4px 4px;
    gap: 4px;
    display: flex;
    align-items: center;
}
.member-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--background-quinary);
}