.group {
    border-bottom: 1px solid var(--background-quaternary);
    margin: 0 var(--spacing-secondary);
    padding: var(--spacing-secondary) 0;

    &:last-of-type {
        border-bottom: none;
    }
}
.group-header {
    font-size: 12px;
    margin-bottom: var(--spacing-tertiary);
    display: block;
}
.block-dropdown {
    button {
        width: 100%;
        justify-content: space-between;
        background-color: var(--background-quaternary);

        &:hover {
            background-color: var(--background-quinary) !important;
        }
    }
}
.labels {
    display: flex;
    gap: var(--spacing-tertiary);
}
.label {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: var(--border-radius-tertiary);
    display: flex;
    gap: 5px;
    border: 1px solid;

    svg {
        width: 10px;
        fill: var(--text-primary);
    }
}
.add-label-button {
    border: 1px solid var(--background-quinary);
    border-radius: var(--border-radius-tertiary);
    transition: background-color .2s;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 10px;
        fill: var(--text-secondary);
    }

    &:hover {
        background-color: var(--background-quaternary);
    }
}
.assignee {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-tertiary);
    border-radius: var(--border-radius-tertiary);
    cursor: pointer;
    padding: 4px;
    margin-left: -4px;
    transition: background-color .2s;
    
    &:hover {
        background-color: var(--background-quaternary);
    }
}
.assignee-icon {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-quinary);
    border: 2px solid var(--background-quaternary);
    font-size: 12px;

    svg {
        width: 40%;
        fill: var(--text-primary);
    }
}
.assignee-text {
    font-size: 13px;
}
.add-assignee {
    color: var(--text-secondary);
}