.group-selector {
    display: flex;
    gap: var(--spacing-tertiary);
    padding: var(--spacing-secondary) var(--spacing-primary);

    li a {
        border: 1px solid var(--background-tertiary);
        border-radius: var(--border-radius-tertiary);
        padding: var(--spacing-secondary);
        padding-right: 60px;
        transition: background-color .2s;
        cursor: pointer;
        font-size: 14px;
        display: block;

        &.active, &:hover {
            background-color: var(--background-tertiary);
        }
    }
}